@import "tailwindcss";

@custom-variant hover-focus {
  &:hover,
  &:focus-within {
    @slot;
  }
}

@custom-variant light {
  .light & {
    @slot;
  }
}

@custom-variant dark {
  .dark & {
    @slot;
  }
}

@utility text-vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  scale: -1;
}

@theme inline {
  --breakpoint-lg: 1160px;

  --font-sans:
    Inter, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
  --font-heading: "Bebas Neue", var(--font-sans);
  --font-handwriting: "Fuzzy Bubbles", var(--font-sans);
  --text-xs: 11px;
  --text-sm: 13px;
  --text-base: 16px;
  --text-md: 17px;
  --text-lg: 30px;
  --text-xl: 24px;
  --text-6xl: 75px;

  --tracking-wide: 1px;
  --tracking-widest: 3px;

  --color-*: initial;
  --color-white: #fffdfa;
  --color-porcelain: #fffdfa;
  --color-carbon: #1a1a1a;
  --color-nickel: #949495;

  --color-background: var(--color-carbon);
  --color-heading: var(--color-white);

  --color-surface: lch(from var(--color-background) calc(l + 3.333) c h);

  --color-foreground: lch(from var(--color-surface) calc(l + 50) c h);
  --color-muted: lch(from var(--color-foreground) calc(l - 5) c h);

  --animate-text-glow: text-glow 2s ease-in-out infinite;
}

:root {
  accent-color: #fcb622;
  color-scheme: dark;
}

::selection {
  @apply bg-[#fcb622]/50;
  @apply text-heading;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes text-glow {
  0%, 100% {
    text-shadow:
      0px 0px 2px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)),
      0px 0px 4px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)),
      0px 0px 8px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1));
  }
  50% {
    text-shadow:
      0px 0px 4px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)),
      0px 0px 6px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)),
      0px 0px 12px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1));
  }
}

:where(.dark) {
  color-scheme: dark !important;
}

:where(.light) {
  color-scheme: light !important;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fuzzy Bubbles";
  src:
    url("/fonts/FuzzyBubbles-Bold.woff2") format("woff2"),
    url("/fonts/FuzzyBubbles-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fuzzy Bubbles";
  src:
    url("/fonts/FuzzyBubbles-Regular.woff2") format("woff2"),
    url("/fonts/FuzzyBubbles-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-background;
  @apply text-foreground;
  @apply transition-colors;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  overscroll-behavior: none;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

:where(h1, h2, h3, h4, h5, h6, .heading) {
  font-family: "Bebas Neue", var(--font-sans);
}

:where(:is(:focus)) {
  box-shadow: 0 0 0 4px var(--color-background);
  outline: 2px solid var(--color-white);
  outline-offset: 4px;
}

:where(button, a) {
  cursor: pointer;
  text-decoration: none;
  text-transform: inherit;
}

:where(img) {
  pointer-events: none;
  user-select: none;
}

:where(video) {
  &::-webkit-media-controls-volume-slider,
  &::-webkit-media-controls-mute-button,
  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}